name: Update Profile
run-name: ${{ github.actor }} is updating her profile on GitHub Actions

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Readme-Workflows/recent-activity@v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          CONFIG_FILE: './workflows/sample.yml'